# Попередня обробка данних

In [1]:
import pandas as pd

In [2]:
data = pd.read_json("Version 3.json", orient='split')
pd.set_option('display.max_columns', None)

In [3]:
data.head()

,Unnamed: 0,open_SAR,open_USD,high_SAR,high_USD,low_SAR,low_USD,close_SAR,close_USD,volume
0,2021-01-30,128437.248512,34246.28,131012.723200,34933.00,123106.88,32825.00,128333.212416,34218.54,43072.0
1,2021-01-29,125144.022272,33368.18,144510.037760,38531.90,119695.51616,31915.40,128459.450880,34252.20,231827.0
2,2021-01-28,113870.357376,30362.19,126703.438592,33783.98,111919.81184,29842.10,125131.570944,33364.86,92621.0
3,2021-01-27,121753.023104,32464.01,122102.860416,32557.29,109668.146688,29241.72,113885.208960,30366.15,95911.0
4,2021-01-26,120966.114176,32254.19,123470.218752,32921.88,115652.472448,30837.37,121767.124608,32467.77,84972.0

In [4]:
data.rename(columns={'Unnamed: 0':'date'}, inplace=True)
data.head()

,date,open_SAR,open_USD,high_SAR,high_USD,low_SAR,low_USD,close_SAR,close_USD,volume
0,2021-01-30,128437.248512,34246.28,131012.723200,34933.00,123106.88,32825.00,128333.212416,34218.54,43072.0
1,2021-01-29,125144.022272,33368.18,144510.037760,38531.90,119695.51616,31915.40,128459.450880,34252.20,231827.0
2,2021-01-28,113870.357376,30362.19,126703.438592,33783.98,111919.81184,29842.10,125131.570944,33364.86,92621.0
3,2021-01-27,121753.023104,32464.01,122102.860416,32557.29,109668.146688,29241.72,113885.208960,30366.15,95911.0
4,2021-01-26,120966.114176,32254.19,123470.218752,32921.88,115652.472448,30837.37,121767.124608,32467.77,84972.0

In [5]:
data.describe()

,open_USD,high_SAR,high_USD,low_USD,close_SAR,close_USD,volume
count,1008.000000,1008.000000,1007.000000,1008.000000,1008.000000,1008.000000,1006.000000
mean,9442.112103,36375.879594,9700.834181,9234.656263,35460.962359,9598.722897,53280.344930
std,6022.063308,23782.811191,6329.423415,6068.102075,22874.071846,6998.045009,35661.808385
min,3211.710000,-5.000000,3276.500000,3156.260000,6723.350000,3211.720000,-45576.000000
25%,6474.720000,24695.427648,6584.995000,6341.060000,24252.946080,6474.720000,30062.250000
50%,8224.735000,31509.323136,8403.000000,8057.945000,30841.995712,8229.265000,43819.500000
75%,10302.770000,39251.011328,10466.500000,10032.500000,38637.699040,10311.700000,64980.500000
max,40586.960000,157329.280000,41950.000000,73867.390848,152201.770624,115463.000000,402201.000000

In [6]:
data.nlargest(n=10, columns='close_USD')

,date,open_SAR,open_USD,high_SAR,high_USD,low_SAR,low_USD,close_SAR,close_USD,volume
73,2020-11-30,68201.024,18185.00,74494.795264,NaN,18184.99,73867.390848,19695.870000,115463.00,NaN
22,2021-01-08,147887.572992,39432.48,157329.280000,41950.00,136889.6,36500.000000,152201.770624,40582.81,139789.0
21,2021-01-09,152217.334784,40586.96,155191.552000,41380.00,145215.488,38720.000000,150346.860288,40088.22,75785.0
23,2021-01-07,137899.807744,36769.36,151384.896000,40365.00,136139.52,36300.000000,147886.822912,39432.28,132825.0
16,2021-01-14,140157.623552,37371.38,150391.040000,40100.00,137644.292992,36701.230000,146807.532800,39144.50,102950.0
20,2021-01-10,150346.860288,40088.22,155079.040000,41350.00,131680.706944,35111.110000,143077.835008,38150.02,118209.0
17,2021-01-13,127697.93216,34049.15,141952.640000,37850.00,121437.952,32380.000000,140157.623552,37371.38,124477.0
24,2021-01-06,127324.317312,33949.53,138536.813184,36939.21,124843.3152,33288.000000,137899.807744,36769.36,127139.0
30,2021-01-06,127324.317312,33949.53,138536.813184,36939.21,124843.3152,33288.000000,137899.807744,36769.36,127139.0
15,2021-01-15,146810.195584,39145.21,149069.999104,39747.76,129043.7632,34408.000000,137798.021888,36742.22,118300.0

In [7]:
data.drop([73], axis=0, inplace=True)

In [8]:
data.nlargest(n=10, columns='volume')

,date,open_SAR,open_USD,high_SAR,high_USD,low_SAR,low_USD,close_SAR,close_USD,volume
335,2020-03-13,18001.957504,4800.01,22333.632000,5955.00,14184.500352,3782.13,20921.981440,5578.60,402201.0
336,2020-03-12,29757.848832,7934.58,29876.323968,7966.17,16539.264,4410.00,18001.920000,4800.00,261505.0
19,2021-01-11,143077.835008,38150.02,143508.080896,38264.74,114087.168,30420.00,132780.924288,35404.47,249131.0
1,2021-01-29,125144.022272,33368.18,144510.037760,38531.90,119695.51616,31915.40,128459.450880,34252.20,231827.0
332,2020-03-16,20103.381632,5360.33,20122.471168,5365.42,16659.726848,4442.12,18860.649088,5028.97,227276.0
328,2020-03-20,23110.15232,6162.05,25877.760000,6900.00,21264.768,5670.00,23283.833344,6208.36,219298.0
287,2020-04-30,32923.186432,8778.58,35478.784000,9460.00,31507.1104,8401.00,32328.448000,8620.00,206277.0
329,2020-03-19,20226.882304,5393.26,24002.560000,6400.00,19699.088512,5252.53,23111.352448,6162.37,199020.0
56,2020-12-17,80016.734208,21335.52,89259.520000,23800.00,79620.992,21230.00,85498.468864,22797.16,184882.0
277,2020-05-10,35775.44064,9539.10,35909.442432,9574.83,30441.9968,8117.00,32713.876608,8722.77,183865.0

In [9]:
data.drop([335], axis=0, inplace=True)

In [10]:
data.nsmallest(n=10, columns='volume')

,date,open_SAR,open_USD,high_SAR,high_USD,low_SAR,low_USD,close_SAR,close_USD,volume
218,2020-07-08,34718.95296,9257.40,35516.288000,9470.00,34619.9424,9231.00,35388.999424,9436.06,-45576.0
837,2018-10-28,24398.60224,6505.60,24430.743168,6514.17,24201.3312,6453.00,24339.833472,6489.93,5743.0
844,2018-10-21,24699.084288,6585.72,24992.290560,6663.90,24677.632,6580.00,24715.548544,6590.11,6515.0
831,2018-11-03,24125.57312,6432.80,24152.463488,6439.97,23796.288,6345.00,23954.142336,6387.09,7661.0
824,2018-11-10,24077.530496,6419.99,24285.902720,6475.55,24043.8144,6411.00,24126.510720,6433.05,7714.0
838,2018-10-27,24522.477952,6538.63,24596.435840,6558.35,24238.985216,6463.04,24398.602240,6505.60,7776.0
823,2018-11-11,24134.424064,6435.16,24235.609856,6462.14,23833.792,6355.00,24189.367424,6449.81,8213.0
835,2018-10-30,23794.4128,6344.50,23983.808000,6395.00,23691.314304,6317.01,23743.294848,6330.87,8877.0
829,2018-11-05,24324.53184,6485.85,24394.064256,6504.39,24118.897408,6431.02,24261.300096,6468.99,8987.0
833,2018-11-01,23888.247808,6369.52,24162.514560,6442.65,23810.014464,6348.66,24040.064000,6410.00,9099.0

In [11]:
data.drop([218], axis=0, inplace=True)

In [12]:
data.nsmallest(n=10, columns='high_SAR')

,date,open_SAR,open_USD,high_SAR,high_USD,low_SAR,low_USD,close_SAR,close_USD,volume
187,2020-08-08,43483.487744,11594.36,-5.000000,11808.27,43174.6048,11512.00,44109.992064,11761.41,41858.0
789,2018-12-15,12095.752576,3225.19,12288.185600,3276.50,11837.237504,3156.26,12045.234688,3211.72,29796.0
788,2018-12-16,12045.197184,3211.71,12353.817600,3294.00,11948.7744,3186.00,12108.803968,3228.67,24628.0
790,2018-12-14,12384.045824,3302.06,12509.046656,3335.39,11915.0208,3177.00,12091.927168,3224.17,44492.0
735,2019-02-07,12777.6128,3407.00,12850.558080,3426.45,12713.856,3390.00,12745.359360,3398.40,18665.0
744,2019-01-29,12878.8736,3434.00,12914.314880,3443.45,12563.539968,3349.92,12792.764416,3411.04,29544.0
791,2018-12-13,12925.303552,3446.38,12976.384000,3460.00,12209.4272,3255.50,12384.045824,3302.06,40040.0
743,2019-01-30,12789.014016,3410.04,13043.891200,3478.00,12702.97984,3387.10,12969.558272,3458.18,23968.0
737,2019-02-05,12988.460288,3463.22,13047.529088,3478.97,12932.991872,3448.43,13019.851136,3471.59,25264.0
793,2018-12-11,12878.911104,3434.01,13051.392000,3480.00,12467.529728,3324.32,12677.814656,3380.39,35920.0

In [13]:
data.drop([187], axis=0, inplace=True)

In [14]:
data.isna().sum()

date         0
open_SAR     5
open_USD     4
high_SAR     4
high_USD     4
low_SAR      4
low_USD      4
close_SAR    4
close_USD    4
volume       5
dtype: int64

In [15]:
data.dropna(axis=0, inplace=True)
data.isna().sum()

date         0
open_SAR     0
open_USD     0
high_SAR     0
high_USD     0
low_SAR      0
low_USD      0
close_SAR    0
close_USD    0
volume       0
dtype: int64

In [16]:
data.duplicated().sum()

11

In [17]:
data.drop_duplicates(inplace=True)
data.duplicated().sum()

0